

<site-layout>
 <@title>Sample Front End</@title>
  <@content>
    <section>
      <h1 id="title" algin="center">Search Results </h1>
     <div id="panel">
     </div>
<!-- <ul>
    <for|title, item | of=itemSummaries>
        <li>${title}: ${item}</li>
    </for>
</ul>  -->
    </section>
  </@content>
</site-layout>
