

<site-layout>
 <@title>Sample Front End</@title>
  <@content>
    <section>
      <h1 id="title" algin="center">Search Results </h1>
     <div id="panel">
     </div>
<!--   <pagination this.state.currentPage = input.currentPage 
                on-pagination-clicked("onPaginationClicked") />  -->

<div id="pagination"> </div>        

    </section>
  </@content>
</site-layout>
