<site-layout>
 <@title>Get Item</@title>
  <@content>
    <section>
      <h1 algin="center">Get Item</h1>
      <div id="panel"/>
      <h2>Search Item by Id</h2>
      <form action="http://localhost:9000/v1/GetItem/" method="GET" target="_blank">
        <input type="text" id="keyword" name="input" placeholder="Item Id"/>
        <button type="submit" id="submit">Submit</button>
      </form>
    </section>
  </@content>
</site-layout>
