<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
      <${input.title}/>
    </title>
  </head>
  <body>
    <header>
      <img.logo src="https://theturingtrust.files.wordpress.com/2018/03/ebay-charity.jpg" alt="marko logo"/>
      <h1>
        <${input.title}/>
      </h1>
      <nav.menu>
        <a href="/home">Home</a>
        <a href="/getitem">Get Item</a>
        <a href="/nonprofit"> Find Non Profit </a>
        <a href="/findcharityitems"> Find Charity Items </a>
        <a href="/advancedcharitysearch"> Advanced Charity Search </a>
        <a href="/login"> Log in </a>
      </nav>
    </header>
    <div.content>
      <${input.content}/>
    </div>
  </body>
</html>
