<site-layout>
  <@title>Advanced Charity search</@title>
  <@content>
    <section>
      <div id="panel"/>
      <h2>Admin Page</h2>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div id="container"></div>

    </section>
  </@content>
</site-layout>
