<site-layout onbeforeunload="return exit()">
 <@title>Sample Front End</@title>
  <@content>
    <section>
      <h1 id="title" algin="center">Charity Search</h1>
     <div id="panel">
     </div>
    
    </section>
  </@content>
</site-layout>