<site-layout>
 <@title>Sample Front End</@title>
  <@content>
    <section>
      <h1 id="title" algin="center">View Item </h1>
     <div id="panel">
     </div>
      <button class="btn btn-primary" onclick="ebayItem()"> View Item On Ebay </button>
    </section>
  </@content>
</site-layout>
