<site-layout>
 <@title>Sample Front End</@title>
  <@content>
    <section>
      <h1 id="title" algin="center">View Charity </h1>
     <div id="panel">
     </div>
    </section>
  </@content>
</site-layout>
