<site-layout>
  <@title>eBay Test Frontend</@title>
  <@content>
    <section>
      <h2>Hello!</h2>
      <p>
        This is a basic front UI to help test api calls
      </p>
    </section>
    <section>
    </section>
  </@content>
</site-layout>
